.container{
    width: 75%;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: auto;

}
.flex-buttons{
    padding: 10px;
    border:  1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}
.flex-buttons div{
    border: 1px SOLID black;
    display: flex;
    padding: 10px;
    align-items: center;
}
.flex-result div{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
}
.result{
    display: flex;
    border: 1px solid black;
}
